/* 버튼 크기 */
.card.small {
  img {
    min-width: 110px;
    min-height: 110px;
  }
}

.card.medium {
  img {
    min-width: 10.625rem;
    min-height: 10.625rem;
  }
}

/* todo : 크기 수정해야함 */
.card.large {
  font-size: 16px;
  padding: 12px 20px;
  img {
    width: 286px;
    min-height: 382px;
  }
}

/* todo : masonry에 들어갈 동적 크기 card */
.card.dynamic {
  img {
    width: 100%;
    min-height: auto;
  }
}
