/* 버튼 크기 */
.card.round {
  text-align: center;
  width: inherit;
  img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
  }
}

.card.small {
  display: block; /* 자식 이미지가 부모를 기준으로 크기 조정 */
  width: 100%; /* 부모 요소 너비에 맞춤 */
  aspect-ratio: 1 / 1; /* 정방형 유지 */
  position: relative;
  /* overflow: hidden; 자식 요소가 넘치지 않도록 설정 */
  min-width: 110px; /* 최소 너비 */

  img {
    /* display: block; */
    width: 100%; /* 부모 요소의 너비에 맞춤 */
    height: 100%; /* 부모 요소의 높이에 맞춤 */
    object-fit: cover; /* 정방형 안에 꽉 채움 */
  }
}

.card.medium {
  display: block; /* 자식 이미지가 부모를 기준으로 크기 조정 */
  width: 100%; /* 부모 요소 너비에 맞춤 */
  aspect-ratio: 1 / 1; /* 정방형 유지 */
  position: relative;
  min-width: 10.625rem;
  img {
    width: 100%; /* 부모 요소의 너비에 맞춤 */
    height: 100%; /* 부모 요소의 높이에 맞춤 */
    object-fit: cover; /* 정방형 안에 꽉 채움 */
    aspect-ratio: 1 / 1; /* 정방형 유지 */
  }
}

/* todo : 크기 수정해야함 */
.card.large {
  font-size: 16px;
  padding: 12px 20px;
  img {
    width: 286px;
    min-height: 382px;
  }
}

/* todo : masonry에 들어갈 동적 크기 card */
.card.dynamic {
  img {
    width: 100%;
    min-height: auto;
  }
}
